.archive{
	background-color: rgba(0,0,0,0.75);
	float: left;
	width: 200px;
	height: 1000px;
	margin-top: -16px;
	color: white;
	font-family: 'Rufina', serif;
	text-align: center;
}

#menuheader{
	text-align: center;
	text-decoration: underline;
}

article{
	background-color: rgb(153, 194, 214);
	border: 2px solid black;
	border-radius: 5%;
	margin: auto;
	width: 60%;
	max-height: 700px;
	padding: 20px;
}
