.contactme, p{
	text-align: center;
	margin: 0;
}

.contactme{
	font-size: 50px;
	text-decoration: underline;
}

form{
	max-width: 600px
	text-align:center;
	margin-bottom: 20px;
}

div{
	text-align: center;
	margin-top: 5px;
}

#name, #email{
	height: 20px;
	width: 550px;
}

#msg{
	height: 200px;
	width: 550px;
}

button{
	padding: 5px;
	width: 200px;
	color: white;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5%;
}
